*.DS_Store
*.swp
*.swo
.phpunit.result.cache
.php_cs.cache
.idea/
.phpunit.result.cache
.env
coverage.xml
pspp.jnl
/vendor
/tests/tmp
/tmp
/tests/tmp
tests/data/pspp.jnl
/nbproject/*
/docs/CodeCoverage/
