<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <coverage>
        <include>
            <directory>../src/</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="SPSS, PSPP php implementation (read/write)">
            <directory>src/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="tmp/phpunit.log.xml"/>
    </logging>
</phpunit>
